
.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-color: white;
    margin-bottom: 1rem; 
    width: calc(100% - 2rem); 
    max-width:  49rem; 
    margin-left: auto; 
    margin-right: auto; 
  }
  